body{
    box-sizing: border-box;
    padding: 1%;
    margin:1%;
}
.container, .container-fluid{
    padding:1%;
    margin:1%;
    background-color: rgb(245, 243, 243);
    border-radius: 5%;  
    display: flex;
    justify-content: center;  
}
table{
    width:max-content;
    padding:1%;
    margin: 1%;
    border:1px solid rgba(0, 0, 0, 0.276);
    box-shadow: 1px 2px 3px black;
}
th{
    width: max-content;
    background-color: rgba(59, 58, 58, 0.13);
}
td{
    width: max-content;
    margin: 0.5% 0;
    padding:0.5% 0;
    padding: 10px 10px;
}
tr{
    width: min-content;
    
}
button{
    width:100%;
    margin:1%;
    box-shadow: 1px 1px 1px 1px gray;
}
